@use 'utils/mixin' as *;

.about-us{
  @include page-grid;

  &__title{
      grid-column: 1 / -1;

      @include on-tablet{
        grid-column: 1 / 4;

      }

      @include on-desktop{
        grid-column: span 5;
      }
    }


  &__text{
    grid-column: 1 / -1;

    @include on-tablet{
      grid-column: 4 / 7;
    }

    @include on-desktop{
      grid-column: span 6;
    }

    display: flex;
    flex-direction: column;
    gap: 24px;


    &--block{
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &--time{
      display: flex;
      gap: 24px;

      &-info{
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    &--bold{
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
    }

    &--normal{
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      text-wrap: balance;
    }

    &--name{
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
  }


}


