@use 'utils/mixin' as *;

.contacts{

  &__wraper{
    @include page-grid;
    row-gap: 48px;
  }

  &__block{
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: 1 / -1;

    @include on-tablet{
      grid-column: 1 / 4;
    }

    @include on-desktop{
      grid-column: span 3;
    }

    &--title{
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 27px;
      color: #161616;
    }

    &--subtitles{
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
    }

    &--bold{
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 27px;
      color: #3E3E3E;
    }

    &-1{
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-2{
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &--info{
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__field{
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-column: 1 / -1;

    @include on-tablet{
      grid-column: 4 / 7;
      grid-row: 1 / -1;
    }

    @include on-desktop{
      grid-column: 8 / 13;
    }

    &--button{
      height: 56px;
      border: none;
      background-color: #D12D35;
      color: #fff;
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 27px;
      font-family: inherit;
      &:hover{
        cursor: pointer;
        background-color: #AE1C23;
      }

      &:active{
        cursor: pointer;
        background-color: #EB343D;
      }
    }

    &--inputs{
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-1{
        padding-left: 16px;
        font-family: inherit;
        border: none;
        height: 48px;
        background-color: #F8F8FA;
      }

      &-2{
        padding-top: 14px;
        padding-left: 16px;
        font-family: inherit;
        border: none;
        height: 144px;
        background-color: #F8F8FA;
      }
    }
  }
}
