@use 'utils/mixin' as *;

.explore{



  &__items{
    @include page-grid;

    row-gap: 48px;


  }


  &__item{
    grid-column: 1 / -1;

    @include on-tablet{
      grid-column: 2 / -2;
    }

    @include on-desktop{
      grid-column: span 4;
    }


    &--photo{
    width: 100%;

    }

    &--title{
      color: #D12D35;
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
      line-height: 140%;
      text-align: center;
      padding: 24px 0 4px ;
    }

    &--info{
      font-family: Roboto , sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      text-align: center;

    }
  }
}
