@use 'utils/mixin' as *;

.footer {
  width: 100%;

  &__image-container {
    width: 100%;
    overflow: hidden;

    background-image: url(images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;

    @include on-tablet{
      height: 359px;
    }
  }

  
}
