@use 'utils/mixin' as *;

.header{
  // display: none !important;

  position: relative;
  background-image: url(images/Logo.png);
  background-position: center;
  background-size: cover;
  height: 100vh;

  &__content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 129px;

    @include content-padding-inlane
  }

  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title{
    margin: 0;
    color: #fff;
    text-align: center;

    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include on-tablet{
      font-size: 64px;
    }
  }
}


