.menu{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  height: 100vh;
  box-sizing: border-box;
  background-color: #D12D35;

  opacity: 0;
  pointer-events: none;

  font-weight: 700;
  text-transform: uppercase;

  &-top{
    padding-bottom: 40px;
  }

  &__content{
    @include contentPaddingInlane;
  }



  &__nav{
    margin-bottom: 32px;
  }


  &__fifth_avenue{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  display: block;
  }

  &__phone_fifth_avenue{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  display: block;
  }



  &__met_cloisters{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  display: block;
  }

  &__phone_met_cloisters{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  display: block;
  margin-bottom: 16px;
  }

  &_call_order{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;

    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid #fff;
  }

  &:target{
    opacity: 1;
    pointer-events: all;
  }
}










