@use 'utils/mixin' as *;

.now-on-view{

  &__button{
    height: 56px;
    margin-top: 40px;
    @include page-grid;

    &-b{
      grid-column: span 2;
      border: none;
      background-color: #D12D35;
      color: #fff;
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 27px;
      font-family: inherit;
      &:hover{
        cursor: pointer;
        background-color: #AE1C23;
      }

      &:active{
        cursor: pointer;
        background-color: #EB343D;
      }

      @include on-tablet{
        grid-column: 2 / -2 ;
      }

      @include on-desktop{
        grid-column: 5 / 9 ;
      }
    }


  }

  &__wrapper{
    display: grid;
    row-gap: 48px;
  }

  &__title{
    color: #D12D35;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
  }

  &__subtitle{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
  }

  &__item{
    &--photo{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--link{
      &--square{
        grid-column: span 3;

        @include on-tablet{
          grid-column: span 2;
        }

        @include on-desktop{
          grid-column: span 4;
        }
        &-2{
          grid-column: span 2;

          &-disapear{
            @include on-tablet{
              display: none;
            }

            @include on-desktop{
              display: block;
            }
          }

          @include on-tablet{
            grid-column: span 3;
          }

          @include on-desktop{
          grid-column: span 4;
        }
        }
      }

      &--wide{
        grid-column: span 3;

        @include on-tablet{
          grid-column: span 4;
        }

        @include on-desktop{
          grid-column: span 8;
        }
      }
    }

    &--photos{
      @include page-grid;

      --colums: 6;

      margin-bottom: 24px;

      @include on-desktop {
        --colums: 12;
      }
    }
  }
}
