@use 'utils/mixin' as *;

.now-on-view{

  &__wrapper{
    display: grid;
    row-gap: 48px;
  }

  &__title{

  }

  &__subtitle{

  }

  &__item{
    &--photo{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--link{
      &--square{
        grid-column: span 3;

        @include on-tablet{
          grid-column: span 2;
        }

        @include on-desktop{

          grid-column: span 4;
        }
        &-2{
          grid-column: span 2;

          &-disapear{
            @include on-tablet{
              display: none;
            }

            @include on-desktop{
              display: block;
            }
          }

          @include on-tablet{
            grid-column: span 3;
          }

          @include on-desktop{
          grid-column: span 4;
        }
        }
      }

      &--wide{
        grid-column: span 3;

        @include on-tablet{
          grid-column: span 4;
        }

        @include on-desktop{
          grid-column: span 8;
        }
      }
    }

    &--photos{
      @include page-grid;

      --colums: 6;
      margin-bottom: 24px;

      @include on-desktop {
        --colums: 12; // Вмикаємо 12 колонок для desktop
      }
    }
  }
}
