p{
  margin: 0;
}

h2{
  margin: 0;
}

h3{
  margin: 0;
}

h4{
  margin: 0;
}

.page{
  font-family: Cinzel , sans-serif;
  scroll-behavior: smooth;

  &__body{
    margin: 0;
    min-width: 320px;
  }

  &__menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);

    &:target{
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
    }
  }

  &:has(.page__menu:target) {
    overflow: hidden; 
  }

}


