@use 'utils/mixin' as *;

.section-title{
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;
  margin-bottom: 32px;

  &--now-on-view::after{
    content: "Explore exhibition gallery guides, videos, articles, and more.";
    display: block;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }

  &--with-subtitle{
    text-align: left;
  }

  &--with-subtitle::before{
    content: "Plan your visit";
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #D12D35;
  }

  @include on-tablet{
    font-size: 48px;
  }

  @include on-desktop{
    font-size: 48px;
  }
}
