@use 'utils/mixin' as *;

.section-title{
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;
  margin-bottom: 32px;

  &--with-subtitle::before{
    content: "Plan your visit";
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #D12D35;
  }

  @include on-tablet{
    font-size: 48px;
  }

  @include on-desktop{
    font-size: 48px;
  }
}
