@use 'utils/mixin' as *;

.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 25px  0;

  @include on-tablet{
    padding-block: 50px;
  }

  &__icons{
    display: flex;
    gap: 24px;
  }

  &__logo-link{
    display: flex;
  }

  &__logo{
    height: 46px;

    @include hover(transform,scale(1.2));

    @include on-tablet{
      height: 65px;
    }
  }
}
