@mixin onTablet{
  @media (min-width: $tablet-min-width){
    @content;
  }
}

@mixin onDesktop{
  @media (min-width: $desktop-min-width){
    @content;
  }
}

@mixin contentPaddingInlane() {
  padding-inline: 20px;

  @include onTablet{
    padding-inline: 72px;
  }

  @include onDesktop{
    margin-inline: auto;
    padding-inline: 120px;
    max-width: 1260px;
  }
}

.container{
  @include contentPaddingInlane;
}

@mixin hover($property, $toValue){
  transition: #{$property} 0.3s;
  &:hover{
    #{$property}: $toValue;
  }
}
