@use 'variables' as *;

@mixin on-tablet{
  @media (min-width: $tablet-min-width){
    @content;
  }
}

@mixin on-desktop{
  @media (min-width: $desktop-min-width){
    @content;
  }
}

@mixin content-padding-inlane() {
  padding-inline: 20px;

  @include on-tablet{
    padding-inline: 72px;
  }

  @include on-desktop{
    margin-inline: auto;
    padding-inline: 120px;
    max-width: 1260px;
  }
}

.container{
  @include content-padding-inlane;
  width: 100%;
}

@mixin hover($property, $toValue){
  transition: #{$property} 0.3s;
  &:hover{
    #{$property}: $toValue;
  }
}

@mixin page-grid{
  --colums:2;
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(var(--colums), 1fr);

  @include on-tablet{
    --colums: 6;
  }

  @include on-desktop{
    --colums: 12;
  }
}
