.page{
  font-family: Cinzel , sans-serif;
  scroll-behavior: smooth;
}

.page__body{
  margin: 0;
}

.page__menu{
  position: fixed;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target{
  opacity: 1;
  pointer-events: all;
}

.header{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 129px;
  background-image: url(images/Logo.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px 20px;
}

.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons{
  display: flex;
  gap: 24px;
}

.header__title{
  margin: 0;
  color: #fff;
  text-align: center;

  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1.5px;

}

.menu{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  height: 100vh;
  box-sizing: border-box;
  padding: 20px 20px;
  background-color: #D12D35;

  opacity: 0;
  pointer-events: none;

  font-weight: 700;
  text-transform: uppercase;
}

.menu__nav{
  margin-bottom: 32px;
}

.nav__link{
 color: #fff;
 text-decoration: none;
 font-size: 22px;
 line-height: 22px;
 letter-spacing: 2px;
 font-size: 16px;
 line-height: 27px;
 display: block;
}

.menu__fifth_avenue{
 color: #fff;
 text-decoration: none;
 font-size: 16px;
 line-height: 27px;
 display: block;
}

.menu__phone_fifth_avenue{
 color: #fff;
 text-decoration: none;
 font-size: 16px;
 line-height: 27px;
 display: block;
}



.menu__met_cloisters{
 color: #fff;
 text-decoration: none;
 font-size: 16px;
 line-height: 27px;
 display: block;
}

.menu__phone_met_cloisters{
 color: #fff;
 text-decoration: none;
 font-size: 16px;
 line-height: 27px;
 display: block;
 margin-bottom: 16px;
}

.call_order{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;

  width: fit-content;
  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
}

.menu:target{
  opacity: 1;
  pointer-events: all;
}

.menu__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.icon{
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone{
  background-image: url(images/Icon-Phone-call.png);
}

.icon--menu{
  background-image: url(images/Icon-Burger-menu.png);
}

.icon--close{
  background-image: url(images/Icon-Close.png);
}


