html{
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

.header{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(images/Background-cover-photo.png);
  height: 100vh;
  background-size: cover;
  padding: 24px 20px 88px;

}

.header__top{
  display: flex;
  justify-content: space-between;
}

.header__title{
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;


}

.header__icons{
  display: flex;
  gap: 24px;
}

.icon{
  display: block;
  background-size: cover;
  background-position: center;
  height: 24px;
  width: 24px;
}

.icon--phone{
background-image: url(images/Icon-Phone-call.png);
}

.icon--menu{
  background-image: url(images/Icon-Burger-menu.png);
}
